<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om sidan</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/add-course">Lägg till kurs</a></li>
            <li><a href="/about">Om sidan</a></li>
        </ul>
    </nav>
    <div class="container">
        <main>
            <h1>Om den här sidan</h1>
            <p>Den här sidan är en webbapplikation där användaren kan lagra och visa kurser som den har läst. Webbapplikationen använder Node.js och express för att skapa servern och ansluta till en relationsdatabas för att lagra information om kurserna. Relationsdatabasen som används är SQLite. På startsidan visas alla kursers om har lagrats i databasen som en tabell med en funktion för at kunna ta bort sparde kurser från tabellen. Och på sidan som heter "Lägg till kurs" finns ett formulär för att spara kurser till tabellen. </p>
            <h2>ER-diagram för databasen</h2>
            <img src="/images/diagram.png" alt="ER-diagram över cv-tabellen" class="ER">
            <h2>Slutsatser</h2>
            <p>Jag tycker det var enkelt att få webbapplikationen att fungera enilgt planerat. Lättare än vad jag trodde att det skulle vara men jag upplever att det var lite svårt att förstå hur allt fungerade vid skapande av databasen och syntaxen för EJS. Det gick bra då jag följde exempel från föreläsningar men känner att jag behöver öva mer på det för att nöta in det och verkligen förstå hur allt hänger ihop</p>
        </main>
    </div>
</body>
</html>
